
.footer {
    background-color: #111;
    color: #fff;
   
    text-align: left;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.above {
    display: flex;
    justify-content: space-between; /* Aligns items to the left and right */
    align-items: center; /* Vertically centers the items */
    padding: 20px 0;
    width: 100%;

}

.footer-logo {
    flex: 1; /* Ensures it takes up space on the left */
		
}

.footer-logo h2 {
    margin: 0; /* Remove default margin */
    font-size: 24px;
    color: #fff;
	padding-left:30px;
}

.social-media {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Aligns social media icons to the right */
}

.social-media a {
    margin-left: 15px; /* Adds space between icons */
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.social-media a:hover {
    color: #f39c12; /* Add hover color for icons */
}


.footer-links-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 12000px;
}

.footer-section {
    flex: 1 1 200px;
    margin: 20px;
	
}

.footer-section h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-section a, .footer-section p {
    color: #aaa;
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
}

.footer-section a:hover {
    color: #fff;
}

.footer-section i {
    margin-right: 10px;
}

/* Social media icon styles */
.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
	
}

.social-media a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #f39c12;
}

/* Footer bottom section */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
   padding:10px 0 10px 0;
    width: 100%;
    max-width: 1200px;
   
	background-color:#2C303A;
}

.footer-bottom p {

	 margin:10px;
}

.footer-bottom a {
    color: #aaa;
    text-decoration: none;
	 margin:10px;
}

.footer-bottom a:hover {
    color: #fff;
}

/* Responsive design */
@media (max-width: 768px) {
    .footer-links-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 20px 0;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .social-media {
        margin-bottom: 10px;
    }
}
